<h1>Task#index</h1>

<% if user_signed_in? %>

  <%= link_to "Log Out", users_sign_out_path, :method => :delete %>
  <%= link_to "New task", :controller => "tasks", :action => "new" %>
  <%= link_to "List All", tasks_path %>
  <%= link_to "List Tags", tags_path %>

  <table>
  <tr><td>name</td><td>description</td><td>tag</td><td>expire</td><td>edit</td><td>delete</td><td>image</td></tr>
  <% @tasks.each do |t| %>
    <tr><td><%= t.name %></td>
    <td><%= t.description %></td>
    <td><%= link_to @tags.find(t.tag_id).name, tasks_path(tag_id: t.tag_id) %></td>
    <td><%= link_to t.expire_date.to_date, tasks_path(expire_date: t.expire_date.to_date) %></td>
    <td> <%= link_to "Edit", edit_task_path(t)  %> </td>
    <td> <%= link_to "Delete", task_path(t), :method => :delete, data: {:confirm => "Do you delete the task? #{t.name}"} %> </td>
    <td>
    <% if t.image.attached? %>
      <%= link_to "Image", rails_blob_path(t.image, disposition: "attachment") %>
      <%= link_to "Delete", delete_task_image_path(id: t.id), :method => :delete, data: {:confirm => "Do you delete the image?"} %>
    </td>
    <% end %>
    </tr>
  <% end %>
  </table>

<% else %>
  <%= link_to 'Signin with Google', user_google_omniauth_authorize_path %>
<% end %>
