<h1>Task#new</h1>
<%= form_for @task,:url => {:action => :create} do |f| %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
 
  <p>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </p>
 
  <% options = @tags.map do |t| [t.name,t.id] end %>
  Tag:<%= f.select :tag_id, options %>

  <% options = [['今日',@today],['明日',@today + 1],['来週',@today + 7]] %>
  Expire:<%= f.select :expire_date, options %>

  <%= f.submit %>
 
<% end %>
